.backdrop {
	position: relative;
	padding: 100px;
	padding-top: 45px;
	background: white;
}

.backdrop h1 {
	font-size: 2.0em;
	margin-bottom: 10px;
	color: #000;
	text-align: justify;
}

.backdrop p {
	font-size: 1em;
	color: #000;
	text-align: justify;

}

#about-us-header{
	width: 100%;
	min-height: 80vh;
	background-image: linear-gradient(rgba(71, 71, 71, 0.45), rgba(71, 71, 71, 0.45)), url('../img/book-kid.jpg');
	background-size: cover;
	background-position: center;
	align-items: center;
}