* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Poppins";
    background-image: url('../img/Librarys.jpg');

}



header {
    width: 100vw;
    height: 140px;
    font-family: "Poppins";
}

header .inner {
    width: 1300px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo {
    display: table;
    height: 100%;
    float: left;

}

header .logo div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img {
    height: 120px;
    margin-top: 5px;
}

header .logo img header nav {
    float: right;
    height: 100%;
}

header nav {
    float: right;
    height: 100%;
}

header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
    margin-top: 40px;
}

header nav li:last-of-type {
    margin-right: 150px;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a {
    color: #101010;
}

header nav a:hover {
    color: #005e7c;
}

header nav .button {
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #586a6a;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #7c9885;
    transition: ease-out 0.3s;
    outline: none;
}

header nav .button:hover {
    box-shadow: inset 300px 0 0 0 #fff;
    cursor: pointer;
    color: #005e7c;
}

.container {
    width: 100vw;
    height: 40vh;
    font-family: "Poppins";
    background-color: #586a6a;
    margin-top: 3rem;
}

.container {
    top: 50%;
    left: 50%;
}

.container h2 {
    padding: 0;
    margin-left: 25%;
    margin-right: 25%;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 60px;
}

.container p {
    color: #fff;
    font-size: 18px;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 35px;
}

span:before {
    content: " ";
    animation: animate infinite 8s;
}

@keyframes animate {
    10.5% {
        content: "Books";
        color: brown;
    }

    60% {
        content: "Audiobooks";
        color: #005e7c;
    }

    75% {
        content: "Podcasts";
        color: #fedc97;
    }

    100% {
        content: "Documents";
        color: #353535;
    }
}

.list {
    text-align: center;
}

.list ul li {
    display: inline-block;
    margin: auto;
    margin-top: 60px;
    font-size: 20px;
}

.list ul a {
    color: #101010;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #7c9885;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #7c9885;
    transition: ease-out 0.3s;
    outline: none;
}

.list ul li :hover {
    box-shadow: inset 300px 0 0 0 #fff;
    cursor: pointer;
    color: #005e7c;
}

.footer-bottom {
    background: #111;
    width: 100vw;
    color: #fff;
    text-align: center;
    bottom: 0;
    position: absolute;
}

.container img {
    height: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.logo h1 {
    font-family: 'UnifrakturCook',
        cursive;
    font-size: 50px;
    font-weight: bold;
    color: maroon;
}