@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
}

header {
	width: 100%;
	min-height: 80vh;
	background-image: linear-gradient(rgba(71, 71, 71, 0.45), rgba(71, 71, 71, 0.45)), url('../img/Librarys.jpg');
	background-size: cover;
	background-position: center;
	align-items: center;
}

.content-header h1 {
	font-size: 80px;
	margin-top: 20px;
	color: #fcfcfc;
	align-content: center;
}

.content-header h2 {
	font-size: 50px;
	margin-top: 20px;
	color: #DBDAEA;
	align-content: center;
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(website.jpg);
	background-size: cover;
	background-position: center;
}

.navbar {
	width: 85%;
	margin: auto;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 20px;
	border-width: 15px;
}

h3 {
	color: #ffffff;
}

.find {
	color: rgb(255, 255, 255);
	position: absolute;
	top: 30%;
	left: 2%;
}

#search {
	position: absolute;
	top: 45%;
	left: 2%;
	width: 45%;
}

#search-btn {
	position: absolute;
	top: 47%;
	left: 48%;
}

.here {
	text-align: center;
	font-size: 30px;
	font-family: 'Merriweather', serif;
	color: #000000;
}

.offer {
	width: 100%;
	height: fit-content;
	display: inline-flex;
	justify-content: center;
}

.read {
	position: relative;
	width: 25%;
	padding: 1px 0;
	height: 400px;
	font-size: 40px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #000000;
	border-radius: 5%;
	text-align: center;
	background: #b5cce7;
	box-shadow: 5px 5px 15px black;
}

#icon {
	height: 120px;
}

.read-text {
	display: block;
	position: relative;
	top: 35%;
	height: 100px;
	font-size: 50px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #000000;
	text-align: center;
	border-width: 1px;
	background-color: #f5f5f5;

}

p {
	font-size: 20px;
	display: block;
}

.write {
	position: relative;
	width: 25%;
	left: 2%;
	padding: 1px 0;
	height: 400px;
	font-size: 40px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #000000;
	border-radius: 5%;
	text-align: center;
	background: #b5cce7;
	box-shadow: 5px 5px 15px black;
}

.listen {
	position: relative;
	width: 25%;
	left: 4%;
	padding: 1px 0;
	height: 400px;
	font-size: 40px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #000000;
	border-radius: 5%;
	text-align: center;
	background: #b5cce7;
	box-shadow: 5px 5px 15px black;
}


.logo {
	width: 450px;
	cursor: pointer;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}

.navbar ul li:hover::after {
	width: 100%;
}

.content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}

.content-header {}

.content h1 {
	font-size: 60px;
	margin-top: 80px;
}

.content p {
	margin: 10px auto;
	font-weight: 95;
	line-height: 15px;
	font-family: sans-serif;
}

.backdrop {
	position: relative;
	padding: 100px;
	padding-top: 45px;
	background: white;
}

.backdrop h1 {
	font-size: 2.0em;
	margin-bottom: 10px;
	color: #fff;
	text-align: justify;
}

.backdrop p {
	font-size: 1em;
	color: #fff;
	text-align: justify;

}

.upbtn {
	margin-left: 85%;
	margin-bottom: 4%;
	background-color: #687c92;
	font-weight: normal;
}

section {
	position: relative;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section:before;

	{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100% height: 100px;
	background: linear-gradient(to top, #9C6C47, transparent);
	z-index: 1000;
}

button {
	width: 200px;
	padding: 15px 20px;
	text-align: center;
	margin: 20px 10px;
	border-radius: 30px;
	font-weight: bold;
	border: none;
	background: #93b2b2;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: .3s;
	box-shadow: 5px 5px 15px black;
}

button:hover {
	transform: translateY(-5px);
	background: #586a6a;
}

.postajob {
	margin-top: 50px;
	margin-left: 2px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	transform: translateY(-50%);
	text-align: center;
	align-content: center;
}

.postajob button {
	background: #5D402A;
}

.postajob button:hover {
	transform: translateY(-5px);
	background: #3e2b1c;
}

.alignments {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	transform: translateY(-50%);
	text-align: center;

}

.alignsearch {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	transform: translateY(-50%);
	text-align: center;

}

input {

	padding: 10px 0;
	text-align: center;
	margin: 10px 5px;
	border-radius: 30px;
	font-weight: bold;
	border: none;
	width: 200px;

	cursor: pointer;
	position: relative;
	overflow: hidden;
}

#submit {

	background: #5D402A;
	color: #fff;
}

#submit:hover {
	transform: translateY(-5px);
	background: #3e2b1c;
}

/* ---- Login page ------*/
.container {
	right: 0;
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	border-radius: 20px;
	padding: 20px;
	font-size: 20px;
	color: #fff;
}

.user-image {
	width: 5%;
	display: inline-block;
	margin-right: 1rem;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

#account-name{
	z-index: 1;
	font-size: 1.5rem;
	margin-right: 1rem;
	font-weight: 600;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

#account-name:hover {
	text-decoration: underline;
}

.click {
	position: relative;
	background-color: #93b2b2;
}

.click:hover {
	background-color: #000000;

}

.click,
.links {
	padding: 9px;
	font-family: futura Md BT;
	border: none;
	outline: none;
	width: 120px;
	color: #fff;
	transition: 0.3s;
}

.list {
	top: 4.5rem;
	display: flex;
	flex-direction: column;
	/* background-color: #3e2b1c; */
	position: absolute;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.3s;
}

.newlist {
	transform: scaleY(1.0);
}

.links {
	background-color: #93b2b2;
}

.links:hover {
	background-color: #000000;
	transform: scale(1.1);
}



.job {
	top: 40%;
	left: 26%;
	width: 550px;
	position: absolute;

}

.job-box {
	padding-bottom: 30px;
	width: 100%;

	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 0px;

	border: none;
	background: #fff;

	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.title-font {
	color: ;
}

.text-font {
	color: ;
}

.title-search {

	width: 500px;
	left: 26%;
	top: 150px;
	position: absolute;
	background-color: transparent;
	border-radius: 20px;
	padding: 30px;
	font-size: 30px;
	color: #fff;

}

.searchresult {
	color: #fff;
}


/* form application */


.applicationform {
	padding-bottom: 30px;
	width: 50%;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 0px;
	border: 0px solid black;
	background: #fff;

	cursor: pointer;
	position: relative;
	overflow: hidden;
	top: 33%;
	left: 473px;
	width: 400px;
	position: absolute;
}

.nameless {
	width: 360px;
	margin: 10px auto 0px;
	background: #586a6a;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
	color: #fff;
}

.article {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 50px;
}

.article:last-child {
	margin-bottom: 0;
}

.article h3 {
	margin: 10px 0 25px 0;
	text-align: center;
}

.article p {
	margin-top: 16px;
	line-height: 24px;
	color: #000000;
	text-align: center;
}

/* ---- Upload pages ------*/
.uploadfile {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 50px;
}

.uploadfile:last-child {
	margin-bottom: 0;
}

.uploadfile h3 {
	margin: 10px 0 25px 0;
	text-align: center;
}

.uploadfile p {
	margin-top: 16px;
	line-height: 24px;
	color: #000000;
	text-align: center;
}

.uploadfile input {
	width: 200px;
	padding: 15px 20px;
	text-align: center;
	margin: 20px 10px;
	border-radius: 30px;
	font-weight: bold;
	border: none;
	background: #93b2b2;
	color: #fff;
	position: relative;
	overflow: hidden;
	transition: .3s;
	box-shadow: 5px 5px 15px black;
}

::-webkit-file-upload-button {
	color: white;
	background: #759d9d;
	border: none;
	border-radius: 50px;
	outline: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: .3s;
	box-shadow: 2px 2px 10px black;
}

::-webkit-file-upload-button:hover {
	transform: translateY(-5px);
	background: #586a6a;
}

.sticky-section{
	overflow:hidden;
	background-color:#485665; 
	margin-bottom:50px;
	width:100%; 
	color:white; 
	position:-webkit-sticky;
	position: fixed;
	top: 0;
	z-index: 1030; /* to prevent the navbar getting covered up by other content */
  }
  nav a{
	float:right;
	text-decoration:none; 
	color:white;
	font-size:18px; 
	padding: 20px 30px; 
	display:inline-block; 
	transition: all 0.5s ease 0s;
  }
  body {
	margin: 0;
	padding: 0;
  }
  
  #logo{
	font-size:20px;  
	font-weight:bold;
	float:left;
	padding: 15px 15px; 
	margin-left:16%;  
  }
  nav{
	margin-right:17%;
  }
  
  nav a:hover{
	background-color:#002e5b; 
	color:wheat; 
  }
