*{
	padding: 0;
	margin: 0;
}
body{
	
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("img/Standard-Size-of-a-Bookshelf-1200x675.jpg"); 
	background-position: 50% 50%;
	background-size:cover;
	height: 100vh;
	width: 100%;
}
.login{
	width: 65%;
	height: 100px;

}
.row{
	background-color: #EDEDED;
	border-radius: 20px;
	box-shadow: 12px 12px 12px black;
}
.login img{
	border-top-left-radius: 20px; 
	border-bottom-left-radius: 20px;
}

.login h1{
	font-size: 50px;
	font-weight: bold;
	font-weight: Arial;
	font-family: 'Fjalla One', sans-serif;
	color: black;

}
.col-lg-4{
	padding-right: 300px;
}
.inp{
	height: 50px;
	width: 70%;
	border: none;
	outline: 1px solid gray;
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px;
	box-shadow: 3px 3px 3px dimgray;
	padding: 20px;
	font-family: 'Fjalla One', sans-serif;
}
.btn1{
	height: 50px;
	width: 50%;
	border: none;
	outline:  none;
	border-radius: 10px;
	font-weight: 600px;
	background: rgb(190, 47, 47);
	color: white;
	box-shadow: 3px 3px 3px dimgray;
	font-family: 'Fjalla One', sans-serif;
}
.btn1:hover{
	cursor: pointer;
	transform: scale(1.1);
}
.login .fas{
	font-size: 19px;
	margin-right: -5px;
	background-color: lightskyblue;
	padding: 15px 15px;
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
	box-shadow: 3px 3px 3px dimgray;
}
.fas:hover{
	cursor: pointer;
}

.text-secondary .nav-link{
	display: inline-block;
}

/*---- Registration Form ----*/


.form1{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
	position: absolute;
}
.Registration{
	background-color: #EDEDED;
	border-radius: 10px ;
	
}
.form-control{
	width: 50%;
}
.form{
	display: inline-block;
}
.Registration h1{
	text-align: center;
}
.Registration button{
	margin-left: 85px;
}
.Registration p{
	margin-top: -10px;
	margin-left: 100px;
}
.Registration .fas{
	font-size: 20px;
	padding-left: 420px;
}
.fas:hover{
	font-size: 15px;
}


.Registration a:hover{
	cursor: pointer;
}
