* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

main {
    background-color: brown;
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.main-container {
    background-color: #f5f6fa;
    padding: 2em 3em;
}

.overview {
    font-family: 'Nunito Sans', sans-serif;

}

/* -------------------- */
.count-container {
    margin-top: 1.5rem;
    /* background-color: brown; */
    box-shadow: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.user-count-container {
    box-sizing: border-box;
    position: relative;
    background-color: white;
    border-radius: 15px;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 70% 30%;
    /* width: 22%; */
}

.title {
    color: #878787;
    font-size: 1.2rem;
    font-weight: bold;
}

.count {
    /* margin-top: 1rem; */
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: bold;
}

.image {
    background-color: #e4e4fe;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8em;
    color: #7373cf;
}

.book {
    background-color: #fdf2d6;
    color: #fec53f;
}
.podcasts{
    background-color: #b8e8c2;
    color: #23a674;
}
.documents{
    background-color: #8cadef;
    color: #1547ab;
}
.ebooks{
    background-color: #aed6dd;
    color: #1a94aa;
}


.admin-container h2 {
    margin-bottom: 2rem;
}

.admin-container {
    margin-top: 5rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    width: 50%;
    padding: 1em;
}
.icon{
    font-size: 2rem;
}

/* -------------------- */

.list:nth-of-type(1) {
    border-left: 5px solid #4980ff;
    padding-left: 1.688em;
}

.list:nth-of-type(1) .link:nth-of-type(1) {
    background-color: #4980ff;
    border-radius: 8px;
}

/* MEDIA QUERIES (RESPONSIVE) */

@media (min-width:100em) {
    main {
        grid-template-columns: 15% 85%;
    }

    .image {
        font-size: 1.5rem;
    }
}