* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f7fb;
    padding-top: 7%;
}

.main-container {
    border-radius: 10px;
    margin: auto;
    width: 50%;
    height: 65vh;
    background-color: white;
    display: flex;
    -webkit-box-shadow: 0px 0px 98px -31px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 98px -31px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 98px -31px rgba(0, 0, 0, 0.44);
}

.login-container {
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.admin-logo {
    margin-top: 3rem;
    width: 20%;
    display: inline-block;
}

.admin-form {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-between;
    margin-top: 5rem;
    height: 40%;
    width: 70%;
}

.signup-admin-form {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-between;
    margin-top: 3rem;
    height: 50%;
    width: 70%;
}

.input-container {
    position: relative;
}

input {
    letter-spacing: 1px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid black;
    padding: 0.2em;
    padding-left: 1.5em;
    width: 100%;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

.signup-admin-form .icon {
    position: absolute;
    top: 3px;
    left: 5px;
}

.icon {
    position: absolute;
    top: 3px;
    left: 5px;
}

button {
    border: none;
    cursor: pointer;
    padding: 0.8em 0em;
    font-size: 1rem;
    border-radius: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
    transition: 300ms ease-in-out;
    color: white;
    background-color: #273041;
}

button:hover {
    background-color: #4980ff;
    color: white;
}

.picture-container {
    border-radius: 10px 0px 0px 10px;
    width: 50%;
}

.left-image {
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.errorMessage {
    color: #4980ff;
    font-weight: 600;
    letter-spacing: 1px;
    margin: auto;
    font-size: 1rem;
    margin-top: 3rem;
}

.loading {
    display: none;
    justify-content: center;
    margin-top: 30%;
}

.loading::after {
    content: "";
    width: 3rem;
    height: 3rem;
    border: 15px solid rgb(241, 234, 234);
    border-top-color: #4980ff;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

.logging-in {
    display: none;
    margin-top: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.wait {
    color: #88898f;
    display: none;
    justify-content: center;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.create-account {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #88898f;
}

.signup {
    color: #88898f;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

.signup:hover {
    color: #4f4f4f;
    font-weight: bold;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

/* -------------- */

/* JAVASCRIPT CLASS */
.hideDisplay {
    display: none;
}

/* ---- MEDIA QUERIES (RESPONSIVE) */
@media(min-width: 95em) {
    .admin-form input {
        font-size: 1.2rem;
    }

    .icon {
        top: 8px;
        left: 5px;

    }

    .admin-form button {
        font-size: 1.2rem;
    }

}