* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    
}

main {
    background-color: brown;
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.main-container {
    background-color: #f6f7fb;
    padding: 2em;
    /* overflow: auto; */
}

.table-container {
    border-radius: 1em;
    padding: 2em;
    background-color: white;
}

.table {
    background-color: white;
    text-align: center;
    /* width: 90%; */
    margin-top: 5rem;
 


}

.table td {
    padding: 1.5em 0;
   
}

.table-header {
    border-radius: 5px;
    border: 2px solid #8a8a8a;
    color: #3f3e3e;
}

.modal-close {
    border: none;
    background-color: transparent;
    font-size: 2rem;
}

.editbtn {
    cursor: pointer;
}

.deletebtn {
    margin-left: 1rem;
    color: red;
    cursor: pointer;
}


.input-container {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.input-container:nth-of-type(1) {
    width: 20%;
}

.input-container-flex {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.input-container-flex .input-container:nth-of-type(1) {
    flex-basis: 48%;
}

.input-container-flex .input-container:nth-of-type(2) {
    flex-basis: 48%;
}

.modal-body label {
    font-size: 1rem;
}

.modal-body input {
    font-size: 1rem;
    padding: 0.3em;
}

.modal-user {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30rem;
}

/* ------------------------- */
.list:nth-of-type(2) {
    border-left: 5px solid #4980ff;
    padding-left: 1.688em;
}

.list:nth-of-type(2) .link:nth-of-type(1) {
    background-color: #4980ff;
    border-radius: 8px;
}

/* MEDIA QUERIES (RESPONSIVE) */
@media (min-width:100em) {
    main {
        grid-template-columns: 15% 85%;
    }
}

/* ----- FOR SCRIPT ------ */
.online {
    width: 50%;
    margin: auto;
    border-radius: 10em;
    background-color: rgb(119, 182, 24);
    color: white;

}

.offline {
    width: 50%;
    margin: auto;
    border-radius: 10em;
    background-color: rgb(208, 50, 50);
    color: white;
}